@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');


body{
  font-family: 'Roboto', sans-serif;
  background-color: #F6F6F6;
}

.logo-text{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
.cursor-on-category{
  cursor: pointer;
}